<!-- 
Info:
im folgenden können Sie den Text definieren, der Nutzern geschickt wird, die ein neues Passwort angefordert haben.
Es ist möglich diesen Text als HTML zu formatieren.
Verwenden Sie den Platzhalter $$link, um an dieser Stelle den Link zum Festlegen eines neuen Passworts einzufügen.
Der Link ist eine Stunde gültig und kann nur einmal verwendet werden.

Wenn Sie nicht wissen, wie HTML genutzt wird, verwenden Sie einfach <p>hier Ihr Text</p>
-->

<p>Sie haben ein neues Passwort angefordert. Über den folgenden Link können Sie ein neues Passwort festlegen:</p>
<p><a href="$link">$link</a></p>
<p>Der Link ist eine Stunde gültig und kann nur einmal verwendet werden. Wenn Sie kein neues Passwort angefordert haben, können Sie diese E-Mail ignorieren.</p>
